code {
	padding: .256rem .4rem;
	font-size: 70%;
	color: lighten($dark, 20%);
	background-color: lighten($dark, 70%);
	border-radius: 3px;
}

kbd {
	padding: .2rem .4rem;
	font-size: 70%;
	color: $white;
	background-color: $dark;
	border-radius: 3px;
}

pre {
	padding: 1em;
	display: block;
	overflow-x: auto;
	font-size: 70%;
	line-height: 1.5;
	color: $dark;
	background-color: lighten($info, 33%);
	border: 1px solid lighten($dark, 50%);
	border-radius: 3px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;

	code {
		padding: initial;
		display: block;
		color: inherit;
		background: transparent;
		font-size: inherit;
		white-space: pre;
	}
}
