html {
	font-size: $global-font-size;
	font-family: $body-font, sans-serif;
	color: $font-color;
}

p,
a,
button,
table,
thead,
tbody,
th,
tr,
td,
input,
textarea,
select,
option {
	font-family: $body-font, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5rem auto;
	font-family: $header-font, sans-serif;
	font-weight: 500;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.font-light {
	font-family: $light-font, sans-serif;
}
