ol {
	list-style-type: decimal;

	ol {
		list-style-type: upper-alpha;

		ol {
			list-style-type: upper-roman;

			ol {
				list-style-type: lower-alpha;

				ol {
					list-style-type: lower-roman;
				}
			}
		}
	}
}

ul {
	margin-left: 0;
	list-style: none;

	li {
		text-indent: -7px;

		&:before {
			position: relative;
			left: -7px;
		}
	}

	&.inline {
		padding: 0;

		li {
			display: inline-block;
		}
	}
}
