.badge {
	display: inline-block;
	padding: .512rem .625rem;
	margin: .25rem 0;
	vertical-align: baseline;
	text-align: center;
	color: $dark;
	font-size: 90%;
	font-family: $light-font;
	background-color: lighten($muted, 20%);
	border: 1px solid lighten($muted, 10%);
	border-radius: .15rem;
	text-decoration: none;
	white-space: nowrap;
	-webkit-boxbox-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	-moz-box-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	@include transition;

	&[href^='http']:hover {
		-webkit-boxbox-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.15);
		-moz-box-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.15);
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.15);
	}
}

@each $colorName, $color, $color-light, $color-text in $colors {
	.badge-#{$colorName} {
		color: $color-text;
		background-color: $color;
		border: 1px solid $color;
	}
}
