.badge {
  display: inline-block;
  padding: .256rem .512rem;
  vertical-align: baseline;
  text-align: center;
  color: $dark;
  font-weight: 700;
  background-color: lighten($muted, 20%);
  border: 1px solid lighten($muted, 10%);
  border-radius: 6px;
  white-space: nowrap;
}

@each $colorName,
$color,
$color-light,
$color-text in $colors {
  .badge-#{$colorName} {
    background-color: $color;
    border: 1px solid $color;
    color: $color-text
  }
}
