/**
<div class="breadcrumb">
  <a class="item" href="#">Home</a>
  <span class="driver">></span>
  <a class="item" href="#">Account</a>
  <span class="driver">></span>
  <a class="item active">Profile</a>
</div>
*/

.breadcrumb {
	padding: .6rem 0;
	border-radius: 4px;
	list-style-type: none;
	@include display-flex;

	.item {
		color: $info;
		font-weight: 500;
		line-height: 1.5;
		text-decoration: none;
		cursor: default;

		&.active {
			color: $dark;
		}

		&:not(.active):hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.driver {
		padding: .2rem .4rem 0;
		color: $muted;
		text-align: center;
		font-size: .6rem;
	}
}
