/**
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
</ol>
*/

.breadcrumb {
    padding: .7rem .625rem;
    display: flex;
    border-radius: 4px;
    list-style-type: none;
    background-color: lighten($muted, 26%);
    border: 1px solid lighten($muted, 16%);
    .breadcrumb-item {
        color: $dark;
        font-size: .8rem;
        line-height: 1;
        &:not(:first-child)::before {
            display: inline-block;
            padding-right: .5rem;
            padding-left: .5rem;
            color: darken($muted, 10%);
            content: '/';
        }
        a {
            color: $primary;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
