.card {
	position: relative;
	flex-direction: column;
	border-radius: .15rem;
	border: 1px solid $muted-light;
	backface-visibility: hidden;
	word-wrap: break-word;
	@include display-flex;

	.card-header,
	.card-footer {
		padding: .5rem .8rem;
	}

	.card-header {
		border-bottom: 1px solid $muted-light;
	}

	.card-footer:not(.btn) {
		border-top: 1px solid $muted-light;
	}

	.card-footer.btn {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-right-radius: inherit;
		border-bottom-left-radius: inherit;
	}

	.card-body {
		-webkit-box-flex: 1 1 auto;  /* OLD - iOS 6-, Safari 3.1-6 */
		-moz-box-flex: 1 1 auto;     /* OLD - Firefox 19- */
		-webkit-flex: 1 1 auto;      /* Chrome */
		-ms-flex: 1 1 auto;          /* IE 10 */
		flex: 1 1 auto;;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		padding: 1rem;

		.card-title {
			font-weight: 500;
		}

		.card-title + .card-subtitle {
			margin-top: .256rem;
		}

		.card-subtitle {
			margin-bottom: .4rem;
			color: $muted;
			font-family: $light-font;
		}

		.card-text {
			font-size: 1rem;
			font-family: $light-font;
		}
	}

	img {
		min-width: 100%;
		border: 0;
		border-top-right-radius: .15rem;
		border-top-left-radius: .15rem;
	}

	.card-body + a img,
	.card-body + img {
		/* check img position */
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-right-radius: .15rem;
		border-bottom-left-radius: .15rem;
	}

	.btn {
		@include resp(520px) {
			margin-bottom: 0;
		}
	}
}
