input,
select,
textarea {
	display: block;
	padding: .375rem .75rem;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
	color: $dark;
	background-color: $white;
	background-clip: padding-box;
	border-radius: .25rem;
	border: 1px solid $muted-light;
	outline: none;
	@include transition;

	&:focus {
		border: 1px solid $primary-light;
		box-shadow: 0 0 0 0.1rem $info-light;
	}

	&.disabled,
	&[disabled] {
		@extend .disabled;
	}
}

.disabled {
	cursor: not-allowed !important;
	opacity: 0.512;
}

.form-group {
	margin-bottom: 1rem;

	> label {
		display: inline-block;
		margin-bottom: 0.5rem;
	}

	textarea {
		max-height: 90vh;
		max-width: 100%;
	}

	textarea.no-resize {
		resize: none;
	}

	small {
		padding-left: .2rem;
		font-size: .8rem;
		font-family: $light-font;
	}

	&.row {
		margin-bottom: .5rem;

		label.col {
			line-height: 2.4;
		}

		.col {
			padding: 0;

			.form-check,
			.form-radio {
				line-height: 2.4;
				margin-bottom: 0;
			}
		}
	}
}

.form-check {
	position: relative;
	display: block;
	margin-bottom: 1rem;

	input[type='checkbox'] {
		display: none;
	}

	input:checked + label::before {
		background-color: $primary;
		background-image: url($svg-check);
		@include transition(all, .1s, ease-out);
	}

	label {
		position: relative;
		display: inline-block;
		margin-right: .4rem;
		color: $dark;
		user-select: none;
		cursor: pointer;

		&::before {
			content: '';
			padding-right: 1.2rem;
			margin-right: .512rem;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 60% 60%;
			background-color: lighten($muted, 25%);
			border-radius: .15rem;
			border: 0 solid $muted-light;
		}

		&:hover::before {
			@include transition;
			background-color: lighten($muted, 20%);
		}
	}
}

.form-radio {
	position: relative;
	display: block;
	margin-bottom: 1rem;

	input[type='radio'] {
		display: none;
	}

	input:checked + label::before {
		background-color: $primary;
		background-image: url($svg-dot);
		@include transition(all, .1s, ease-out);
	}

	label {
		position: relative;
		display: inline-block;
		margin-right: .4rem;
		color: $dark;
		user-select: none;
		cursor: pointer;

		&::before {
			content: '';
			padding-right: 1.2rem;
			margin-right: .512rem;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
			background-color: lighten($muted, 25%);
			border-radius: 100%;
			border: 0 solid $muted-light;
		}

		&:hover::before {
			@include transition;
			background-color: lighten($muted, 20%);
		}
	}
}

fieldset.form-group {
  padding: 1rem;
	border: 2px solid $muted-light;

	legend {
		padding: 0 .4rem;
		color: $dark-light;
	}
}
