$sizes: 6;
$spacer: .125;

/* Common border */

.border {
	border: 1px solid $dark;
}

.border-top {
	border-top: 1px solid $dark;
}

.border-right {
	border-right: 1px solid $dark;
}

.border-bottom {
	border-bottom: 1px solid $dark;
}

.border-left {
	border-left: 1px solid $dark;
}

.no-border {
	border: 0 !important;
}

.circle {
	border-radius: 100% !important;
}

/* Border style */
.border-dotted {
	border-style: dotted !important;
}

.border-dashed {
	border-style: dashed !important;
}

.border-double {
	border-style: double !important;
}

/* Create border color */
@each $colorName, $color, $color-light in $colors {
	.border-#{$colorName} {
		border-color: $color !important;
	}

	.border-#{$colorName}-light {
		border-color: $color-light !important;
	}
}

/* Create border other colors */
.border-white {
	border-color: $white !important;
}

.border-transparent {
	border-color: transparent !important;
}

/* Create border width */
@for $i from 0 through $sizes {
	.border-#{$i} {
		border-width: #{$i}px !important;
	}
}

/* Create border width */
@for $i from 0 through $sizes {
	.border-radius-#{$i} {
		border-radius: #{$spacer * $i}rem !important;
	}
}
