/**
  Class by color theme
*/

@each $colorName, $color, $color-light in $colors {
	.text-#{$colorName} {
		color: $color !important;
	}

	.text-#{$colorName}-light {
		color: $color-light !important;
	}

	.bg-#{$colorName} {
		background-color: $color !important;
	}

	.bg-#{$colorName}-light {
		background-color: $color-light !important;
	}
}

/**
  Class by color name
*/

.text-white {
	color: $white !important;
}

.bg-white {
	background-color: $white !important;
}
