$sizes: 6;

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.underline {
	text-decoration: underline;
}

.underline-hover {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.no-underline {
	text-decoration: none;
}

.font-family-light {
	font-family: $light-font, sans-serif !important;
}

/* font weight style */
@each $weight in $font-weight {
	.font-#{$weight} {
		font-weight: $weight !important;
	}
}

/* font size style */
/* Create border width */
@for $i from 0 through $sizes {
	.font-size-#{$i} {
		font-size: #{$i}rem !important;
	}
}
