/**
  Global EtherealCSS Config
*/

// Theme colors
$default: #2f3944 !default;
$success: #597a56 !default;
$info: #5c9cb9 !default;
$primary: #7896ab !default;
$joy: #b45c48 !default;
$danger: #774f4b !default;
$warning: #d8ca83 !default;
$muted: #a5afa3 !default;
// Font settings
$global-font-size: 20px !default;
$header-font: 'Noto Sans CJK TC' !default;
$body-font: 'Helvetica Neue' !default;
$font-color: $default !default;
// Responsive breakpoints
$large-screen: 1200px !default;
$medium-screen: 992px !default;
$small-screen: 768px !default;
$xsmall-screen: 480px !default;

/*
  Add transform: translate() with browser prefixes.
  Same syntax for translate() and translate3d()
  To get 3D add a $z value and set 'true'
  @param string | boolean
  @default 0 | false
*/

@mixin translate($x, $y, $z: 0, $transform3d: false) {
    @if $transform3d {
        -webkit-transform: translate3d($x, $y, $z);
        -ms-transform: translate3d($x, $y, $z);
        transform: translate3d($x, $y, $z);
    }
    @else {
        -webkit-transform: translate($x, $y);
        -ms-transform: translate($x, $y);
        transform: translate($x, $y);
    }
}


/*
  Add global transition styles to selector
  @param string
  @default all | 235ms | ease-in-out | 0
*/

@mixin transition($name:all, $duration:235ms, $animation:ease-in-out, $delay:0s) {
    -webkit-transition: $name $duration $animation $delay;
    -moz-transition: $name $duration $animation $delay;
    -o-transition: $name $duration $animation $delay;
    transition: $name $duration $animation $delay;
}