/**
  Add global transition styles to selector
  @param string
  @default all | 235ms | ease-in-out | 0
*/
@mixin transition($name: all, $duration: 183ms, $animation: ease-in-out, $delay: 0s) {
	-webkit-transition: $name $duration $animation $delay;
	-ms-transition: $name $duration $animation $delay;
	-moz-transition: $name $duration $animation $delay;
	-o-transition: $name $duration $animation $delay;
	transition: $name $duration $animation $delay;
}
