// font theme
$global-font-size: 1rem !default;
$header-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, 'Microsoft YaHei UI', 'Microsoft Yahei' !default;
$body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, 'Microsoft YaHei UI', 'Microsoft Yahei' !default;
$light-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, 'Microsoft JhengHei UI', 'Microsoft JhengHei' !default;
$font-color: $dark !default;
$font-weight: normal, bold, lighter;
