// rwd screen group
$large-screen: 1200px !default;
$medium-screen: 992px !default;
$small-screen: 768px !default;
$xsmall-screen: 480px !default;

/**
  Mixin class
  @param string | integer
  @default null
*/
@mixin resp($max: null, $min: null) {
	@if $max == large or $max == lg {
		$max: $large-screen;
	}

	@if $max == medium or $max == md {
		$max: $medium-screen;
	}

	@if $max == small or $max == sm {
		$max: $small-screen;
	}

	@if $max == xsmall or $max == xs {
		$max: $xsmall-screen;
	}

	@if ($min != null and $max != null) {
		@media only screen and (max-width: $max) and (min-width: $min) {
			@content;
		}
	} @else if($max != null and $min == null) {
		@media only screen and (max-width: $max) {
			@content;
		}
	} @else if($min != null and $max == null) {
		@media only screen and (min-width: $min) {
			@content;
		}
	}
}

/**
  Create flex class col
*/
@mixin create-flex-classes($colName, $breakpoint: 0) {
	@include resp($min: $breakpoint) {
		@for $i from 1 through $columns {
			.#{$colName}-#{$i} {
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 $i * 100% / $columns;
				-ms-flex: 0 0 $i * 100% / $columns;
				flex: 0 0 $i * 100% / $columns;
				max-width: $i * 100% / $columns;
			}
		}
	}
}

/**
  Columns size
*/
@mixin col-size($percent) {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $percent;
	-ms-flex: 0 0 $percent;
	flex: 0 0 $percent;
	max-width: $percent;
}

/**
  Display flex
  https://css-tricks.com/using-flexbox/
*/
@mixin display-flex() {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
