.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	@include resp(medium) {
		width: 85%;
	}
	@include resp(xsmall) {
		width: 90%;
	}
}

.section {
	margin-top: 1rem;
	margin-bottom: 2rem;
	word-wrap: break-word;
}
