.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	@include resp(medium) {
		width: 85%;
	}
	@include resp(xsmall) {
		width: 90%;
	}
}

.section {
	margin-top: 1rem;
	margin-bottom: 2rem;
	word-wrap: break-word;
}

.ethereal {
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: $main-background;
	border: 1px solid $primary-light;
	-webkit-box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, .2);
	-moz-box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, .2);
	box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, .2);
	@include resp(xs) {
		padding: 1rem;
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
	}
}
