.container {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.section {
    margin-top: 1rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
}

.ethereal {
    -webkit-box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, .2);
    -moz-box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, .2);
    box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, .2);
}